body {
	background-color: #dddddd;
        margin: 0;
	font-family: sans-serif;
}

#banner {
	background: #111834;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	border-bottom: 6px solid gray;		
}

main, footer {
	margin: 1.25em;
}

main {
	margin-bottom: 2em;
}

footer {
	background: #ffffff;
	border-radius: 6px;
	border-style: solid;
	border-color: #0d1431;
	border-width: 2px;
	text-align: center;
	font-size: small;
	padding: 0.5em;
}

#logo {
	display: block;
	margin: auto;
	max-width: 100%;
}

.topicgroup {
	display: grid;
	grid-gap: 1em;
	grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));

	padding-bottom: 1.5em;
}
	
.topics {
	color: #111834;
}

.buttontopic {
	padding-top: 0.75em;
	background: white;
	border-radius: 6px;
	text-align: center;
	font-weight: bold;
	font-size: large;
	
	border-style: solid;
	border-color: #0d1431;
	border-color: gray;

	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

.buttontopic img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80px;
}

.buttontopic a, footer a {
	text-decoration: none; /* un-underlined links in buttons and the footer */
}

.buttontopic a {
	color: inherit; /* uncolored links in buttons */
}

/* smaller second-level headers */
h2 {
	font-size: 1.4em;
}
